@font-face {
    font-family: "Rachella";
    src: url("./css/Rachella.ttf");
}
  
#photoProfileButton{
    border:none;
    background: none;
}
#photoProfileButton p{
    font-family: 'Rachella';
    font-size: 3.5vh;
    padding-left: 1vh;
}

.photoProfile {
    width : 5vh;
    min-height:5vh;
    border-radius :50%;
}

#deconnexion{
    color: #8a3ab9;
    text-decoration: none;
    font-size: 1.8vh;
}
#deconnexion:hover{
    color: #9f7ab4;
    text-decoration: none;
    font-size: 1.8vh;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200&display=swap');

#affichagePosts {
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    direction: ltr;
    font-weight: 500;
}

.postDiv{
    margin-bottom : 20px;
}

#delay{
    font-size:1vw
}


.postPhoto{
    width: 100vh;
}

footer{
    background-color: #9c6fb6cc;
    position:fixed;
   bottom:0px;  /* on le colle en bas */
   width:100%;
   min-height:4vh;   /* Hauteur du pied de page */
}



#ajoutPhotoLien{
    color:#8a3ab9;
}

#ajoutPhotoIcone{
    font-size: 4vh;
}
#search{
    color:#8a3ab9;
}

#searchIcone{
    font-size: 3.5vh;
}

footer #photoProfileButton{
    border:none;
    background: none;
    padding-top:0.3vh;
}

footer .photoProfile {
    width : 4vh;
    min-height:4vh;
    border-radius :50%;
}