@font-face {
  font-family: "soccer";
  src: url("./css/Soccer.ttf");
}

/* Style pour le titre h1 */
h1 {
  font-family: soccer;
    font-size: 3rem;
    text-align: center;
    margin-top: 2rem;
    color: #8a3ab9;
  }
  body {
    background-color: #fafafa;
    /* font-family: sans-serif; */
}
  
  /* Style pour la section */
  .conexion {
    background-color: #fff;
    padding: 3rem;
    border-radius: 0.5rem;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Style pour le champ de saisie */
  .form-control {
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    font-size: 1.25rem;
    padding: 1rem;
    border: 2px solid #8a3ab9;
  }
  
  /* Style pour le label du champ de saisie */
  .form-label {
    font-size: 1.5rem;
    font-weight: bold;
    color: #8a3ab9;
  }
  
  /* Style pour le bouton de soumission */
  .btn-primary {
    background-color: #8a3ab9;
    border-color: #8a3ab9;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem 2.5rem;
    margin-top: 2rem;
    transition: background-color 0.2s ease-in-out;
  }
  
  /* Style pour le texte du bouton de soumission */
  .btn-primary:hover {
    background-color: #8a3ab9;
  }
  
  /* Style pour le lien d'inscription */
  a { 
    color: #8a3ab9;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 3rem;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
  }
  
  /* Style pour le texte du lien d'inscription */
  a:hover {
    color: #0056b3;
  } 
  p{
    padding-top: 2rem;
  }
  
  